<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Edit Professor</title>
</head>
<body>
	<h1>Edit Professor</h1>
	<form th:action="@{/professors/update/{id}(id=${id})}" method="post">

		<label for="name">Name:</label>
		<input type="text" id="name" name="name" th:value="${name}" required>
		<br>
		<label for="surname">Surname:</label>
		<input type="text" id="surname" name="surname" th:value="${surname}" required>
		<br>
		<label for="identification">Identification:</label>
		<input type="text" id="identification" name="identification" th:value="${identification}" required>
		<br>
		<label for="email">Email:</label>
		<input type="email" id="email" name="email" th:value="${email}">
		<br>
		<label for="phone">Phone:</label>
		<input type="text" id="phone" name="phone" th:value="${phone}">
		<br>
		<label for="address">Address:</label>
		<input type="text" id="address" name="address" th:value="${address}">
		<br>
		<label for="city">City:</label>
		<input type="text" id="city" name="city" th:value="${city}">
		<br>
		<label for="state">State:</label>
		<input type="text" id="state" name="state" th:value="${state}">
		<br>
		<label for="country">Country:</label>
		<input type="text" id="country" name="country" th:value="${country}">
		<br>
		<label for="zipCode">Zipcode:</label>
		<input type="number" id="zipCode" name="zipCode" th:value="${zipCode}">
		<br>
		<label for="title">Title:</label>
		<input type="text" id="title" name="title" th:value="${title}">
		<br>
		<label for="department">Department:</label>
		<input type="text" id="department" name="department" th:value="${department}">
		<br>
		<label for="siape">Siape:</label>
		<input type="number" id="siape" name="siape" th:value="${siape}">
		<br>
		<label for="courseSelect">Course:</label>
		<select id="courseSelect" name="courseId">
			<option  th:each="course : ${courses}" th:value="${course.idCourse}" th:text="${course.name}" th:selected="${course.idCourse == courseAssigned.idCourse }"></option>
		</select>
		<br>

		<button type="submit">Submit</button>
		<a th:href="@{/professors/show/{id}(id=${id})}">Cancel</a>
	</form>
</body>
</html>
