<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
</head>
<body>
<h1>Student Details</h1>
<p><strong>Name:</strong> <span th:text="${student.getName()}"></span></p>
<p><strong>Surname:</strong> <span th:text="${student.getSurname()}"></span></p>
<p><strong>Registration:</strong> <span th:text="${student.getRegistration()}"></span></p>
<p><strong>Semester:</strong> <span th:text="${student.getSemester()}"></span></p>
<p><strong>Status:</strong> <span th:text="${student.getStatus()}"></span></p>

<form th:action="@{/students/show/{idPerson}/assign-course(idPerson=${student.getIdPerson()})}" method="post">
    <label for="courseSelect"><strong>Select a course:</strong></label>
    <select id="courseSelect" name="course">
        <option  th:each="course : ${courses}" th:value="${course.idCourse}" th:text="${course.name}"></option>
    </select>
    <button type="submit">Registrar Curso</button>
</form>

<a th:href="@{/students/show/{id}(id=${student.getIdPerson()})}">Details</a> |
<a th:href="@{/students/update/{id}(id=${id})}">Edit</a> |
<a th:href="@{/students/delete/{id}(id=${id})}">Delete</a>
</body>
</html>
